h1{
    color: blue;
    background-color: aqua;
}
h2{
    color: red;
    background-color: aquamarine;
}
p1{
    background-color: white;
    color: rgb(220, 181, 187);
}
p2{
    color: red;
    background-color: antiquewhite;
}
