header{
    color: blue;
    background-color: aliceblue;
}
h1{
    color: bisque;
    background-color: blue;
}
h2{
    background-color: blueviolet;
}
img{
    color: black;
}
footer{
    color: violet;
    background-color: blanchedalmond;
}